.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  label {
    margin-bottom: 10px;
  }
  input {
    padding: 10px;
    border: none;
    margin-bottom: 10px;
  }
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #3e8e41;
  }
}
