.user-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 24em;
  height: 8em;
  margin: 16px auto;
  .profile-photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }
  .user-info {
    flex: 1;
    h2 {
      margin: 0;
      font-size: 1.5rem;
    }
    p {
      margin: 5px 0;
      font-size: 1rem;
      color: #555;
    }
    a {
      text-decoration: none !important;
      background-color: transparent;
      i {
        font-size: 16px;
        margin-left: 4px;
      }
    }
  }
}
